<div class="menu">
	<h1>MY MEALS</h1>
		<a href="/plan/overview">My Plan</a>
		<a href="/plan/grocery_list">Grocery List</a>
		<a href="/plan/history">Past Plans</a>

	<h1 class="plan-creator-menu">PLAN CREATOR</h1>
		<a href="/constraints/calories">Calories</a>
		<a href="/constraints/nutrients">Nutrients</a>
		<a href="/constraints/budget">Budget</a>
		<a href="/constraints/time">Time</a>
		<a href="/constraints/tastes">Tastes</a>
		<a href="/constraints/restrictions">Dietary Restrictions</a>
		<a href="/constraints/location">Location</a>

</div>